@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>COTI Informática</title>

    <!-- folha de estilos CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet" />

</head>
<body>

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Sistema de Controle de Funcionários</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/Index">Página Inicial <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gerenciar Funcionarios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/Funcionario/Cadastro">Cadastrar Novo Funcionário</a>
                            <a class="dropdown-item" href="/Funcionario/Consulta">Consultar Funcionários</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="card card-body bg-light">
            <h2>Sistema de Controle de Funcionarios</h2>
            Projeto Desenvolvido em .NET CORE MVC com Dapper
        </div> 
        <br/>
        <div>
            @if (TempData["MensagemSucesso"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@TempData["MensagemSucesso"]</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <br/>
            }
            else if (TempData["MensagemErro"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>@TempData["MensagemErro"]</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            
            @RenderBody()
        </div>
    </div>

    <!-- arquivos de extensão JS -->
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>

</body>
</html>
